/* body */
body{
  background-color: aliceblue;
}
/* positions */
.sticky {
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}
.right {
    float: right;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.top-right {
    position:absolute;right:1rem;top:1rem;
}

/* flex */
.flexoid {
    display: flex;
    flex-direction: row;
}
.flexoid.column, .stack {
    display: flex;
    flex-direction: column;
}
.flex, .flex1, .flex-1 {
  flex: 1 1 0;
  min-height: 0;
}
.flex2 {
  flex: 2 2 0;
  min-height: 0;
}
.flex0 {
  flex: 0;
}

 /* size */
 .w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}

.m0{
  margin:0;
}
.m1{
  margin:1rem;
}
.mx{
  margin-left:1rem;
  margin-right:1rem;
}


.p1{
  padding:1rem;
}
.px{
  padding-left:1rem;
  padding-right:1rem;
}

/* Utilities */

.hidden {
  display: none;
}

.silver {
  background-color: silver;
}

.text-pre-line {
  white-space: pre-line;
}
.text-center{
    text-align: center;
}
.text-strip {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: 1.2rem;
  overflow: hidden;
}

.text-small {
    font-size: 80%;
    font-weight: 400;
}
.text-smaller {
    font-size: 65%;
    font-weight: 400;
}

.blur {
  backdrop-filter: blur(5px);background: rgba(247,248,249,.65);
}
